body{
    background-color: #BBDEFB;
}
header {
    text-align: center;
    margin-bottom: 2rem;

}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #BBDEFB;
}

.card {
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    /* Ancho fijo para cada tarjeta */
    height: 800px;
    /* Altura fija para cada tarjeta */
    background-color: #FFE57F;
}

.card img {
    width: 100%;
    height: 600px;
    /* Altura fija para las imágenes */
    object-fit: cover;
    /* Asegura que la imagen cubra el área sin distorsionarse */
}

.card-body {
    padding: 1rem;
    text-align: center;
}
